.AboutMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    min-height: 100%;
}

.sectionABackground {
    background: linear-gradient(113.43deg, #212121 0%, #111111 97.72%);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.46);
    z-index: 2;
}

.sectionBBackground {
    background: linear-gradient(113.43deg, #2F2F2F 0%, #101010 97.72%);
}

.sectionABackground, .sectionBBackground {
    display: flex;
    flex: 1;
}

.sectionA {
    max-width: 600px;
}

.sectionA, .sectionB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (min-width: 1001px) {
    .sectionABackground {
        flex: 6;
    }

    .sectionBBackground {
        flex: 4;
    }

    .sectionABackground, .sectionBBackground {
        padding: 50px;
        justify-content: center;
    }

    .sectionA, .sectionB {
        gap: 20px;
    }

}

@media screen and (max-width: 1000px) {
    .AboutMe {
        flex-direction: column;
        font-size: 14px;
    }

    .sectionABackground {
        padding: 50px 20px;
    }

    .sectionBBackground {
        padding: 50px 20px;
        margin-top: -10px;
    }

    .sectionABackground, .sectionBBackground {
        justify-content: center;
    }

    .sectionA, .sectionB {
        gap: 10px;
    }

}

.projectsTitle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
    color: #919191;
}

.projectsTitle span {
    margin: 0 10px;
}

.projectsTitle hr {
    border: 1px solid #919191;
}