.Card {
    position: fixed;
    left: 0;
    top: 0;
    user-select: none;
    background-color: white;
    border-radius: 10px;
    /*border: 1px solid black;*/
    box-shadow: 0 0 7px 3px #00000054;
}