.photography {
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");min-height: 100%;
}

.sectionB {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 2;
    padding: 50px 0;
}

.sectionB img {
    object-fit: contain;
    max-width: 45%;
}

@media screen and (max-width: 1000px) {
    .photography {
        flex-direction: column;
    }

    .sectionB {
        padding: 50px 20px;
        justify-content: center;
    }
}