html, * {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #2a2a2a;
}

.content-card, .text-card {
    display: flex;
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.07) 100%);
    padding: 20px 30px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 18px 0 #1616168f;
}

.content-card {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.text-card {
    flex-direction: column;
    gap: 20px;
    text-align: justify;
    align-items: flex-start;
}

.card-sectionA {
    flex: 3;
}

.card-sectionB {
    flex: 2;
}

.card-sectionA, .card-sectionB {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.image-card img {
    max-width: 100%;
    /*border-radius: 10px;*/
}

a {
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 1000px) {

    .card-sectionA, .card-sectionB {
        padding: 50px 20px;
    }

    .content-card, .text-card {
        padding: 15px 20px !important;
    }
}